body {
    background-image: url(../images/qbkls.png);
    background-repeat: repeat;
}

#description-box {
    background-color: #d3d3d3;
    width: 75%;
    height: auto;
    border: solid thin #dddddd;
    margin-top: 1%;
    align-self: stretch;
    padding: 1%;
    /* text-align: center; */
}

#h1-box {
    background-color: #98fb98;
    width: 20%;
    height: auto;
    border: solid thin #dddddd;
    margin-top: 1%;
    align-self: stretch;
    padding: 1%;
}

#random {
    background-color: #ADD8E6;
    width: 8%;
    height: auto;
    border: solid thin #dddddd;
    margin-top: 1%;
    align-self: stretch;
    padding: 1%;
    display: inline-block;
    font-size: 70px;
}

#win-lose {
    background-color: #FFFF33;
    width: 8%;
    height: auto;
    border: solid thin #dddddd;
    margin-top: 1%;
    align-self: stretch;
    padding: 1%;
    display: inline-block;
}

#red-crystal {
    background-image: url(../images/Red_Rupee.png);
    background-repeat: repeat;
    background-size: cover;
    width: 50px;
    height: 55px;
    display: inline-block;
    margin: 1%;
}

#blue-crystal {
    background-image: url(../images/blue_Rupee.png);
    background-repeat: repeat;
    background-size: cover;
    width: 50px;
    height: 55px;
    display: inline-block;
    margin: 1%;
}

#green-crystal {
    background-image: url(../images/green_Rupee.png);
    background-repeat: repeat;
    background-size: cover;
    width: 50px;
    height: 55px;
    display: inline-block;
    margin: 1%;
}

#yellow-crystal {
    background-image: url(../images/yellow_Rupee.png);
    background-repeat: repeat;
    background-size: cover;
    width: 50px;
    height: 55px;
    display: inline-block;
    margin: 1%;
}

#total-score {
    background-color: #ffa500;
    width: 8%;
    height: auto;
    border: solid thin #dddddd;
    margin-top: 1%;
    align-self: stretch;
    padding: 1%;
}

#total-score-num {
    background-color: #ffa500;
    width: 8%;
    height: auto;
    border: solid thin #dddddd;
    margin-top: 1%;
    align-self: stretch;
    padding: 1%;
}

